In [41]:
import numpy      as     np
import pandas     as     pd
from   root_numpy import root2array, tree2array

In [74]:
data = root2array('MCtruth_4topCI.root')
print(data.dtype.names)
print(data.shape)

df = pd.DataFrame(data)
df.head()

('jet_pt', 'jet_eta', 'jet_phi', 'm4top')
(1000,)

,jet_pt,jet_eta,jet_phi,m4top
0,"[433.24778125, 280.0488125, 191.256359375, 147...","[0.000541657149792, 0.00108203589916, -0.00036...","[-0.00116388010979, 0.0027625207901, 0.0008389...",2067.372907
1,"[456.5780625, 343.0471875, 192.62834375, 132.6...","[0.00117758977413, 0.000923700988293, 0.000256...","[0.00164446413517, -0.00149145817757, -0.00110...",1589.237054
2,"[462.918625, 289.6720625, 215.518390625, 128.9...","[0.000251039475203, -0.000930843889713, -0.001...","[-0.000981613874435, 0.00148152184486, 0.00180...",2763.344954
3,"[99.019546875, 89.8759296875, 69.1471875, 54.1...","[-0.000432023793459, -0.00030545642972, -0.000...","[-0.00271167898178, -0.00118455302715, 0.00196...",1313.491707
4,"[276.382125, 241.245078125, 203.3856875, 183.2...","[0.00152037405968, -0.000889150619507, 0.00189...","[-0.00139445447922, 0.00114956760406, 0.002062...",2330.860740

In [67]:
pd.plotting.scatter_matrix(data, figsize=(12,12), alpha=0.7, diagonal='hist')
plt.tight_layout()
plt.draw()

AttributeError: 'numpy.ndarray' object has no attribute '_get_numeric_data'